:root {

    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --salmon-pink: hsl(165, 51%, 75%);
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 42%, 53%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);
  
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  section {
    position: relative;
    max-width: 600px;
    
    border: 2px solid var(--eerie-black);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 8rem;
  }

  h1{
    font-size: 1.6rem;
    color: var(--ocean-green);
    text-align: center;
  }

  .inputbox{
    position: relative;
    margin: 20px 0;
    width: 400px;
    border-bottom: 2px solid var(--eerie-black);

  }

  .inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: var(--eerie-black);
    font-size: 0.9rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    top: -4px;
  }

  .inputbox input{
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: var(--eerie-black);
  }

  .inputbox i {
    position: absolute;
    right: 8px;
    color: var(--eerie-black);
    font-size: 1.2rem;
    top: 20px;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);

    
}

button{
  margin-top: 1rem;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: var(--ocean-green);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4 ease;
}

button:hover{
    background-color: var(--eerie-black);
    color: #fff;

}

.register{
    font-size: 0.9rem;
    color: var(--eerie-black);
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register a {
    text-decoration: none;
    color: var(--ocean-green);
    font-weight: 600;
}
.register a:hover {
  text-decoration: underline;
}
